defmodule Aoc.Year<%= year %>.Day<%= day %>.<%= title %> do

  alias __MODULE__.{Parser, Part1, Part2}

  def part_1(input) do
    input
    |> Parser.parse()
    |> Part1.solve()
  end

  def part_2(input) do
    input
    |> Parser.parse()
  end

  defmodule Part1 do
    def solve(input) do
      input
    end
  end

  defmodule Part2 do
    def solve(input) do
      input
    end
  end

  defmodule Parser do
    def parse(input) do
      input
    end
  end
end
